
.hero-about .container {
    position: relative;
    z-index: 2;
    text-align: left;
    margin-left: 8rem;  
    margin-right: 0;      
    max-width: 500px;
    width: 100%;    
}


.hero-about h1 {
    color: #ffffff; 
    font-size: 2.5rem;
}

.hero-about p {
    color: #f0f0f0; 
    font-size: 1.1rem;
}

main .container {
    text-align: left;
    margin-left: 8rem; 
    margin-right: 0;      
    max-width: 1000px;    
}


.team-img {
    width: 100%;       
    max-width: 250px;  
    height: auto;      
    border-radius: 8px;
    display: block;
}


section h2, section ul {
    margin-left: 8rem;    
    text-align: left;
    color: #333333;    
}


.site-footer .container {
    margin-left: 8rem;
    margin-right: 0;
}
