.hero .container {
    position: relative;
    z-index: 2;
    text-align: left; 
    
   
    margin-left: 8rem;  
    margin-right: 0;    
    
    max-width: 500px;
    width: 100%;    
}

.hero-cta {
    text-align: left;
    margin: 1rem 0 0 0; 
}

.site-footer {
    background-color: #0b3c91; 
    color: white;              
    padding: 2rem 0;           
    margin-top: 4rem;          
}

.site-footer .container {
   
    margin-left: 8rem;
    max-width: 500px;
}
